<!-- Open Graph data -->
<meta property="og:title" content="{{ title }} — {{ settings:site_name }}" />
<meta property="og:type" content="website" />
<meta property="og:url" content="{{ current_url }}" />
<meta
    property="og:description"
    content="{{ excerpt ?? settings:description }}"
/>
<meta property="og:image" content="{{ glide:settings:meta_image width="1200"
height="630" format="jpg"}}" />
<meta property="og:locale" content="en_US" />

<!-- Twitter Card data -->
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:site" content="Matt Woods" />
<meta name="twitter:creator" content="matopher" />
<meta name="twitter:domain" content="mattwoods.io" />
