<!-- Open Graph data -->
<meta property="og:title" content="{{ title }} — {{ settings:site_name }}" />
<meta property="og:type" content="website" />
<meta property="og:url" content="https://mattwoods.io/" />
<meta property="og:description" content="{{ excerpt ?? title }}" />
<meta property="og:image" content="{{ settings:meta_image:url }}" />

<!-- Twitter Card data -->
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:site" content="@matopher" />
<meta name="twitter:creator" content="@matopher" />
