<div class="max-w-5xl mx-auto relative mt-16">
    {{ svg src="/assets/site/scratches" class="absolute text-gray-800 mt-8 top-0
    left-0 w-20 hidden md:block" }}
    <article class="py-32 max-w-2xl mx-auto">
        <header class="content mb-16">
            <h1>{{ title }}</h1>
            {{ content | widont }}
        </header>

        {{ collection:notes as="notes" sort="rating:desc" paginate="20" }} {{ if
        no_results }}
        <h2 class="text-3xl italic tracking-tight">
            Oops! Nothing found for that yet...
        </h2>
        {{ /if }} {{ notes }} {{ if cover_image }}
        <a href="{{ url }}">
            {{ cover_image }}
            <img src="{{ url}}" alt="{{ alt }}" class="mb-2 mr-2 h-48" />
            {{ /cover_image }}
        </a>
        {{ /if }}

        <div class="my-10">
            <a
                href="{{ url }}"
                class="text-2xl hover:text-teal tracking-tight leading-tight font-bold"
            >
                {{ title | widont }}
            </a>

            <div class="block my-2">
                <span
                    class="inline-block leading-loose tracking-wide bg-gray-300 text-gray-700 text-sm uppercase 
                font-semibold rounded px-3"
                >
                    Rating: {{ rating }}/5
                </span>
            </div>

            <p>
                {{ excerpt }}
            </p>

            {{ if not last}}
            <hr class="border-b my-6" />
            {{ /if }}
        </div>
        {{ /notes }} {{ paginate }} {{ if prev_page || next_page }}
        <div class="flex justify-between text-xl -mx-16 pt-16 font-bold">
            <a href="{{ prev_page }}" class="{{ ! prev_page ?= 'opacity-25' }}">
                &larr; Back to the future
            </a>
            <a href="{{ next_page }}">
                Forward to the past &rarr;
            </a>
        </div>
        {{ /if }} {{ /paginate }} {{ /collection:notes }}
    </article>
</div>
