<div class="max-w-5xl mx-auto relative mt-16 content">
    {{ svg src="/assets/site/scratches" class="absolute text-gray-800 mt-8 top-0
    left-0 w-20 hidden md:block" }}
    <article class="lg:py-32 max-w-2xl mx-auto">
        {{ if cover_image }} {{ cover_image }}
        <img class="mb-6 mr-2 h-64" src="{{ url }}" alt="{{ alt }}" />
        {{ /cover_image }} {{ /if }}

        <div class="flex flex-col px-2">

          <div class="inline-flex">
              <span
              class="inline-block leading-loose tracking-wide bg-gray-300 text-gray-700 uppercase 
              font-semibold rounded mr-4 mb-6 px-3"
                  >
                  My Rating: {{ rating }}/5
              </span>
          </div>


        <h1>{{ title }} by {{ author }}: Summary, Notes & Lessons</h1>

        <h2 class="my-0 text-base font-extrabold uppercase">
          High-Level Summary
        </h2>
        <p class="mb-4">
          {{ excerpt }}
        </p>

        <div class="content">
            {{ content | widont }}
        </div>
    </article>
</div>
