// Your custom blog styles here

main li {
  margin-top: 2px;
    margin-bottom: 14px;
    padding-left: 3px;
    font-size: 16.5px;
    line-height: 26px;
}

main ol, main ul {
    margin-top: 22px;
    margin-bottom: 25px;
    padding: 19px 18px 0 30px;
    clear: both;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(76,183,221,.02);
    border-radius: 2px;
    background-color: #f8fcff;
    box-shadow: 0 5px 15px -10px rgba(0,89,156,.16);
}