{{ if environment === "production" }}

<!-- Global site tag (gtag.js) - Google Analytics -->
<script
    async
    src="https://www.googletagmanager.com/gtag/js?id=UA-89589431-1"
></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() {
        dataLayer.push(arguments);
    }
    gtag("js", new Date());

    gtag("config", "UA-89589431-1", { optimize_id: "GTM-M7SGBX9" });
</script>

<meta name="p:domain_verify" content="b563ed86e3d37a655f4691e934addfe3"/>

{{ /if }}
